header{
    width: 1500px ;
    height: 136px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQseK3VR41PsR-gGnoa4aQpJHgTyxZQTCnQGw&usqp=CAU");

background-color: grey;
    background-size:auto;
    background-repeat: no-repeat;

}
nav{
height: 35px;
    background-color: black;
}
nav .menu ul{
    list-style: none;
}
nav ul li{
    float: left;
    line-height: 30px;
    padding: 0 30px;
}
nav ul li a{
    color: aliceblue;
}
nav.dangnhap{
    line-height: 35;
    float: right;
}
#j2 {
 width: 1000px;
    height: 50px;
    text-align: center  ;
}
button {
    background-color: pink;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
button:hover {
    background-color: blueviolet;
    font-size: 30px;
}
a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
li {
    background-color: darksalmon;
    margin: 2px;
}
li:hover {
    background-color: blueviolet;
}